  
h1{
text-align: center;	
text-transform: uppercase;
padding-top: 50px;
color: #0B0B61;
}
#principal_login{
	background: #0B0B61; 
width: 349px;
height: 60px;
padding-top: 10px;
color: white;
position: relative;
top: -62px;
right: 2px;
border-radius: 9px;
}
h4{
	text-align: center;
	color: white;
}
header p{
	color: white;
	text-align: center;
}
.login,#lblUsername,#lblPassword{
position: relative;
left: 5px;
padding:6px;
}

.login{
	position: relative;
left: 500px;

padding: 60px 0;
 width: 350px;
border-radius: 9px;
border: 3px solid #0B0B61;
background: #CECEF6;

}
input{
position: relative;
left:15px;
border: 3px solid #0B0B61;
width: 240px;
}
#entrar{
background:#0B0B61;
position: relative;
left: 140px;
color: white;

}


.principal,.principal_Clientes{
	background: #0B0B61;
	height: 50px;
}
.menu {
	float: left;
}
.menu ul {
	margin: 5px 0 0 0;
	height: 60px;
}
.menu li {
	display: inline-block;
	border: 3px dashed #fff;
	padding: 5px;
	background: #0B0B61;
	margin-right: 25px;
}

.menu ul li a{
	padding: 5px;
	text-transform: uppercase;
  	color: white;
}

#sesion{
text-align: right;
color: white;
margin: 10px;
float: right;
}
#contenedor {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	overflow: hidden;
}
.cuadro_inicio {
	width: 33.33%;
	float: left;
	text-align: center;
}
.cuadro_inicio img {
	width: 128px;
}
a:hover {
	text-decoration: none;
	cursor: pointer;
}
.active{
	background: #66CC99!important;
}
#welcome{
	text-align: center;
}


.new_cliente{
border-radius: 9px;
background:#003333;
width: 110px;
height: 40px;
position: relative;
left: 1240px;
top: -110px;
color: white;
}

#icon_clients{
	color: #0B0B61;
	text-transform: uppercase;
}
#basurero{
	position: relative;
	left: 15px;
}
.table{
	text-align: center;

}
th{
text-align: center;	
}
#cl{
	position: relative;
	top: -10px;
}
#first_Name,#last_name,#id{
position: relative;
right: 300px;
}
#id{
	position: relative;
	right: 330px;
}
.form-control{
	width: 700px;
	position: relative;
	left: 230px;
}
#cancel{

	color: red;
	position: relative;
	right: 320px;
	top: 10px;
}
#save{
	position: relative;
	left: 330px;
	top: -10px;
}
.container{
	
float: left;
width: 100%;

}
.container,#question,#name{
	text-align: center;
}

#cancelDelete{
position: relative;
left: 300px;
width: 70px;
height: 40px;
text-align: center;
}
#saveClients{
	position: relative;
	left: 780px;
	width: 70px;
	height: 40px;
	
text-align: center;
}
#lbltelefono{
	position: relative;
right: 310px;
}
#telefono{
position: relative;
right: 310px;

}


#lista{
	position: relative;
	left: -162px;
	border: 1px solid gray; 
	border-radius: 9px;
}

#select{
	position: relative;
	right:226px;
    top: -5px;
	

}
#description{

position: relative;
right: 25px;
top: 40px;
width: 600px; 
border-radius: 9px;


}
#lblDescription{

	
	font-size: 14px;
	position: relative;
	left: 110px;
bottom: 10px;
}
#lblFecha
{
	position: relative;
	right:634px;
	top: 70px;
	
}
#fecha{
 position: relative;
top: 70px;
border-radius: 9px;
left:8px;
border: 1px solid gray; 
}
#lblmonto{
	position: relative;
	top: 104px;
	right: 240px;

}
#number_monto{
	position: relative;
	top: 130px;
	left: -285px;
	border: 1px solid gray; 
	border-radius: 9px;
}
#cancel_newInvoice{
position: relative;
top: 170px;
right: 600px;
}
#confirm_Invoice{
position: relative;
top: 140px;
left: 200px;
}
#cancel_newInvoice
{
	color: red;
}
}