  /*
Login
*/
.titulo_pagina{
	text-align: center;	
	text-transform: uppercase;
	padding-top: 50px;
	color: #0B0B61;
}
.principal_login{
	background: #0B0B61; 
	width: 101%;
	height: 60px;
	padding-top: 3%;
	color: white;
	margin-top: -18%;
	border-radius: 5%;
}
#textlogin{
	text-align: center;
	color: white;
}

.lblUserandPasw{
	position: relative;
	left: 1%;
	padding:2%;
}

.login{
	position: relative;
	left: 500px;

	padding: 60px 0;
	width: 350px;
	border-radius: 9px;
	border: 3px solid #0B0B61;
	background: #CECEF6;

}
.txtlogin{
	
	border: 3px solid #0B0B61;
	width: 240px;
}
#entrar{
	background:#0B0B61;
	position: relative;
	left: 46%;
	color: white;

}
/*
Menu
*/

.principal,.principal_Clientes{
	background: #0B0B61;
	height: 50px;
}
.menu {
	float: left;
}
.menu ul {
	margin: 5px 0 0 0;
	height: 60px;
}
.menu li {
	display: inline-block;
	border: 3px dashed #fff;
	padding: 5px;
	background: #0B0B61;
	margin-right: 25px;
}

.menu ul li a{
	padding: 5px;
	text-transform: uppercase;
	color: white;
}


.sesion{
	text-align: right;
	color: white;
	margin: 10px;
	float: right;
}
#contenedor {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	overflow: hidden;
}
.cuadro_inicio {
	width: 33.33%;
	float: left;
	text-align: center;
}
.cuadro_inicio img {
	width: 34%;
}
a:hover {
	text-decoration: none;
	cursor: pointer;
}
.active{
	background: #66CC99!important;
}
#welcome{
	text-align: center;
}

/*
Clients
*/
.home{
	position: relative;
	right: 10%;
	border: none!important;
	float: left;
	padding-bottom: 15%;

}
.home p{
	margin: 0 0 1px;
}
.new_cliente{
	float: left;
	border-radius: 9px;
	background:#003333;
	width: 8%;
	height: 40px;
	position: relative;
	left: 91%;
	bottom: 104px;
	color: white;
}


.icon{
	color: #0B0B61;
	text-transform: uppercase;
}
.basurero{
	position: relative;
	left: 5%;
}
.table{
	text-align: center;

}
th{
	text-align: center;	
}

.container{
	
	float: left;
	width: 100%;

}
/*
new client	
*/
.nuevocliente{

	padding-left: 24%;	
}

.id{
	
	padding-left: 24%;
}

.form-control{
	
	width: 55%;
	margin-left: 23%;
	
}
.cancel{
	color: red;
	padding-left: 23%;
	position: relative;
	top: 12px;

}
.cancel:hover{
	color: red;
}
.save{
	float: left;
	position: relative;
	left: 75%;
	bottom: 15px;
}


.btn-danger{
	margin-left: 2%;
	width: 5%;
	height: 40px;
	text-align: center;
	position: relative;
	top: 124px;
}
#saveClients{
	position: relative;
	left: 41%;
	top: 124px;
	margin-left: 15%;
	width: 5%;
	height: 40px;
	
	text-align: center;
}
/*
Invoice 
*/
.question{
	text-align: center;
}
.nueva_factura{
	
	padding-left: 36%;

}
.lista{
	margin-left: 35%;
	border: 1px solid gray; 
	border-radius: 9px;
	margin-bottom: 2%;
}
.description{
	width: 45%;
	margin-left: 35%;
	border: 1px solid gray; 
	border-radius: 9px;
	margin-bottom: 2%;
}

.fecha_monto{
	border: 1px solid gray; 
	border-radius: 9px;
	margin-bottom: 2%;
	margin-left: 35%;

}
.save_edit_new_invoice{
	float: left;
	display: block;
	position: relative;
	bottom: 4px;
	margin-left: 37%;
	
}
.cancel_edit_invoice a{
	float: left;
	padding-left: 35%;
	color: red!important;
padding-top: 2%;

text-decoration: underline;
}
.cancel_new_Invoice a{
	float: left;
	padding-left: 35%;
	color: red!important;

}
#save_delete_invoice{
	position: relative;
	left: 41%;
	top: 124px;
	margin-left: 15%;
	width: 5%;
	height: 40px;
	
	text-align: center;
}
/*
Chambas
*/
.cancel_edit_chambas a{
	float: left;

	color: red;
	padding-left: 35%;
	text-decoration: underline;
	margin-top: 3%;
}
.save_edit_chambas {
float: left;
	
padding-left: 75%;
position: relative;
bottom: 25px;

}
.nueva_chamba{
	padding-left: 36%;
}
.note{
	border: 1px solid gray; 
	border-radius: 9px;
	width: 45%;
	margin-left: 35%;
	height: 45px;
}
.cancel_new_chambas a{
	float: left;
padding-left: 35%;
margin-top: 2%;
color: red;
text-decoration: inline;
}
.save_new_chambas{
	float: left;
margin-left: 37%;
margin-top: 1%;
}
#save_delete_chambas{
	position: relative;
	left: 41%;
	top: 124px;
	margin-left: 15%;
	width: 5%;
	height: 40px;
	
	text-align: center;
}
