
body{

	background: #33cc66;
	/*
	#CCFFEB
	background: #E0E0E0 ;
	*/
}
h1{
	text-align: center;
	color: black;
	font-family: monospace;
}


.login{

	border: ridge;
	width: 22%;
	height: 321px;
	border-radius: 12px 12px 9px 13px;
	background: #909090;
	border-width: 5px;
	font-family: monospace;
	
	margin-left: 37%;
	margin-top: 30px;
	
}
.separar_chk,#ingresar{
	margin: 3%;
	margin-top: 20px;
	display:inline;
	font-family: monospace;
}
.form-group .form-control{
	width: 80%;
}
.separar_chk{
	margin-top: 5px;
}
.encabezado_login{
	text-align: center;
	background: #505050 ;
	
	border-radius: 8px 8px 8px 8px;*/
	width: 100%;
	padding: 2%;
	font-family: monospace;
}

@media screen and (max-width:320px) {
	.login{
		width: 92%;	
		margin-left: 10%;
		padding-left: 0%;
		font-size: 125%;
	}
	.separar_chk,#ingresar{

		margin: 0%;
		margin-top: -1px;
		margin-bottom: 0px;
		display:inline;
		font-family: monospace;
	}



} 

@media screen and (min-width: 1024px){
	.login{
		width: 40%;
		margin-left: 32%;
		padding-left: 0%;
		font-size: 125%;
	}

	.separar_chk,#ingresar{

		margin: 0%;
		margin-top: -1px;
		margin-bottom: 0px;
		display:inline;
		font-family: monospace;
	}
	.separar_chk{
		padding-left: 11%;
	}

}
@media screen and (min-width: 1366px){
	.login{
		width: 35%;
		margin-left: 32%;
		padding-left: 0%;
		font-size: 125%;
	}

	.separar_chk,#ingresar{

		margin: 0%;
		margin-top: -1px;
		margin-bottom: 0px;
		display:inline;
		font-family: monospace;
	}
	.separar_chk{
		padding-left: 16%;
	}

}
/*Menu*/

ul li a{
	border-bottom: 1px solid #33cc99;
	font-size: 125%;
}
ul li {
	display: inline-block;

}
.menu{
	background-color:#33cc99; 
}

.navbar-brand img{
	margin-bottom: 11%;
	display: inline;
}
#session{
	font-size: 125%;
}
.row img{
	width: 60%;
	-webkit-box-shadow: 2px 2px 151px #000000; 
	-moz-box-shadow: 2px 2px 151px #000000;
	border-radius: 150px; 
	-webkit-border-radius: 150px;
	color: white;
}


.categoria{
	text-align: center;
	font-size: 125%;
	text-decoration: none;
	color: white;
}
.categoria:hover{
	color: black;
	text-decoration: none;
}
.container{
	margin: 6%;
	padding: 6%;
}
/*User*/
.table{
	border-color: black;
	margin-top: 19%;
}
.encabezado_tabla{
	background:#383838;
	background-color:#383838; 
	color: #383838;
	color: white;
	font-family: monospace!important;
	font-size: 125%!important;
}
.fila{
	font-family: monospace!important;
	font-size: 122%!important;
}
.delete{
	margin-left: 18%;

}
.img-responsive{
	margin-left: 3%;
	
	float: left;
	
	max-width: 17%;
	min-width: 10%;

	-webkit-box-shadow: 2px 2px 151px #000000; 
	-moz-box-shadow: 2px 2px 151px #000000;
	border-radius: 150px; 
	-webkit-border-radius: 150px;
}
.name_main{
	display: inline;
	text-align: middle;
	margin-top: 5%;
	text-transform: uppercase;
}
.new_user {
	float: right;
	width: 11%;
	margin-right: 5%; 
}
@media screen and (max-width: 320px){
	.name_main{
		display: inline;

		text-transform: uppercase;
		margin-top: 5%;
		font-size: 105%;
		font-weight: bold;
	}
	.new_user{
		width: 26%;
		margin-right: 2%;
	}
	.confirmar_yes{
		margin-left: 5%!important;
		width: 20%!important;
	}
	.confirmar_no{
		margin-left: 29%!important;
		width: 20%!important;
	}

	.encabezado_tabla{
		background:#383838;
		background-color:#383838; 
		color: #383838;
		color: white;
		font-family: monospace;
		font-size: 111%!important;
	}
	.fila{
		font-family: monospace;
		font-size: 85%!important;
	}
}

.confirmar_no
{
	margin-left: 26%;
	width: 10%;

}

.confirmar_yes
{
	margin-left: 17%;
	width: 10%;

}




/*
.panel-primary{
	width: 25%;
float: right;
margin-left: 15%;
}
.form_usuario{
	float: left;
width: 60%;
}

